<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kvrohit.github.io</title>
    <link rel="icon" href="/img/icons/favicon.ico" />
    <link rel="shortcut icon" href="/img/icons/favicon.ico" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">hityangfei.github.io</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="/index.html">blog</a></li>
          <li><a href="/about.html">about</a></li>
        </ul>
      </section>
    </nav>

    <section>
      {{ content }}
    </section>

    <script src="/js/app.min.js"></script>
  </body>
</html>
